<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>面板</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
</head>
<body>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="text-center">明星合集</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <img src="../static/img/图片1.jpg" alt="" height="400" width="300">
                    <h3 class="text-left">薛冰川</h3>
                    <p>长江大学学生</p>
                    <button class="btn btn-default"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>喜欢
                    </button>
                    <button class="btn btn-default">评论</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>