<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>常用样式</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
</head>
<body>
<!--
    代码
        单行  code
        多行  pre
        加入快捷键  kbd
        -->
<code>this is a simple code</code><br>
<code>
    this is a simple code<br>
    this is a simple code
</code><br>
<!--代码块-->
<pre>
int main()
    {
        print('Hi,S!!!')
    }
</pre>
<!--现实HTML代码-->
<pre>
    你好！！
    &lt;h2&gt;你好！！&lt;/h2&gt;
</pre>
<!--当长度达到一定的长度时 可以添加滚动条-->
<pre class="pre-scrollable">
    <ol>
        <li>..................</li>
        <li>..................</li>
        <li>..................</li>
        <li>..................</li>
        <li>..................</li>
        <li>..................</li>
        <li>..................</li>
        <li>..................</li>
        <li>..................</li>
        <li>..................</li>
        <li>..................</li>
        <li>..................</li>
    </ol>
</pre>
<p>
    使用<kbd>ctrl</kbd>+<kbd>s</kbd>保存内容
</p>
</body>
</html>