<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>常用样式</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
</head>
<body>
<!--
    .table:基础表格

    .table-striped:斑马线表格
    .table-bordered:带边框的表格
    .table-hover:鼠标悬停高亮表格
    .table-condensed:紧凑型表格，单元格内距或者内距较其他表格的内距小


 Class	    描述
.active	    鼠标悬停在行或单元格上时所设置的颜色
.success	标识成功或积极的动作
.info	    标识普通的提示信息或动作
.warning	标识警告或需要用户注意
.danger	    标识危险或潜在的带来负面影响的动作
-->
<!-- On cells (`td` or `th`) -->
<table class="table table-striped table-bordered">
    <tr class="info">
        <th>JavaSE</th>
        <th>数据库</th>
        <th>JavaScript</th>
    </tr>
    <tr>
        <td>JavaSE</td>
        <td>数据库</td>
        <td>JavaScript</td>
    </tr>
    <tr>
        <td>JavaSE</td>
        <td>数据库</td>
        <td>JavaScript</td>
    </tr>
</table>

</body>
</html>